footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background: #2FA1B3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
footer .container {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .noi-dung {
    margin-right: 30px;

}
footer .container .noi-dung.about {
    width: 40%;
}footer .container .noi-dung.about h2 {
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
footer .container .noi-dung.about h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #FFFFFF;
}
footer .container .noi-dung.about p {
    color: #FFFFFF;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon {
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover {
    background: #FFFFFF;
}
.social-icon li a .fa {
    color: #fff;
    font-size: 20px;
}
.links h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #FFFFFF;
}

.links {
    position: relative;
    width: 25%;
}

.links ul li {
    list-style: none;
}
.links ul li a {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.links ul li a:hover {
    color: #fff;
}
.contact h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #FFFFFF;
}
.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info {
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span {
    color: #FFFFFF;
}
.contact .info li a {
    color: #FFFFFF;
    text-decoration: none;
}
.imgProduct{
    width: 220px;
    height: 250px;
    border-radius: 3px;
}
.link{
    text-decoration: none;
}