.article-info{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.article-info span{
    font-size: 14px;
}
.vertical-card{
    width: 16rem;
    height: 21rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}
.card-image{
    width: 100%;
    height: 48%;
    border-radius: 5px;
}
.card-title{
    margin-top: 8px;
    font-size: 20px;
    font-weight: 400;
}
.card-body{
    margin: 0 7px;
}